---
let { title, meta } = Astro.props?.content || Astro.props;

if (!title) {
  title = decodeURI(Astro.url.pathname.slice(1)).split("-").join(" ");
}

const documentTitle = title ? `${title} | Rycont Garden` : "Rycont Garden";
const documentMeta =
  meta || title
    ? `${title}에 관한 글입니다.`
    : "Rycont Garden에 오신 것을 환영합니다.";

const articlePermalink = (Astro.site?.origin || "") + Astro.url.pathname;
const githubLink = `https://github.com/rycont/digital-garden/blob/main${trimTrailingSlash(Astro.url.pathname)}.md`;

function trimTrailingSlash(path: string) {
  if (path.endsWith("/")) {
    return path.slice(0, -1);
  }

  return path;
}

const mailto = {
  subject: `Reply: ${title}`,
  body: `원본 글: ${articlePermalink}`,
  to: "rycont@outlook.kr",
};

const mailToString = `mailto:${mailto.to}?subject=${encodeURIComponent(
  mailto.subject,
)}&body=${encodeURIComponent(mailto.body)}`;

import LinkedPages from "../components/linked-pages.astro";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{documentTitle}</title>
    <meta name="description" content={documentMeta} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <style is:global>
      @font-face {
        font-family: "SUIT";
        font-weight: 100;
        src: url("/fonts/SUIT-Thin.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 200;
        src: url("/fonts/SUIT-ExtraLight.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 300;
        src: url("/fonts/SUIT-Light.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 400;
        src: url("/fonts/SUIT-Regular.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 500;
        src: url("/fonts/SUIT-Medium.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 600;
        src: url("/fonts/SUIT-SemiBold.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 700;
        src: url("/fonts/SUIT-Bold.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 800;
        src: url("/fonts/SUIT-ExtraBold.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "SUIT";
        font-weight: 900;
        src: url("/fonts/SUIT-Heavy.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "D2Coding";
        src: url("/fonts/D2Coding.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: fallback;
      }

      @font-face {
        font-family: "FallbackSans";
        font-weight: 400;
        src: local("Malgun Gothic");
        size-adjust: 87.3%;
      }

      @font-face {
        font-family: "FallbackSans";
        font-weight: 700;
        src: local("Malgun Gothic Bold");
        size-adjust: 92%;
      }

      body {
        font-family: "SUIT", "Pretendard", "Pretendard Variable", "FallbackSans",
          "BlinkMacSystemFont", system-ui, Roboto, "Helvetica Neue", "Segoe UI",
          "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        max-width: 720px;
        margin: 0 auto;
        line-height: 1.5;
        padding: 1rem;
        word-break: keep-all;
        text-align: justify;
      }

      article * {
        max-width: 100%;
      }

      article img {
        max-height: 70vh;
        width: auto;
        object-fit: contain;
      }

      article p:has(> img) {
        text-align: center;
      }

      .astro-code {
        padding: 1rem;
        font-size: 0.8rem;
        border-radius: 0.2rem;
      }

      .astro-code code {
        font-family: "D2Coding", monospace;
      }

      h2 {
        font-size: 1.3rem;
      }

      h3 {
        font-size: 1.1rem;
      }

      blockquote {
        padding: 0.1rem 1rem;
        background-color: #f9f9f9;
        border-left: 0.25rem solid #ccc;
        margin: 1rem 0;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
    </header>
    <hr />
    <article>
      <slot />
    </article>
    <hr />
    <a href={mailToString}>댓글 쓰기</a>, <a href={githubLink}
      >GitHub에서 보기</a
    >
    <hr />
    <LinkedPages />
    <hr />
    <footer>
      <ul>
        <li>Author: Rycont</li>
        <li>Mail: <a href="mailto:rycont@outlook.kr">rycont@outlook.kr</a></li>
        <li><a href="https://github.com/rycont">GitHub</a></li>
      </ul>

      <p>
        이 사람은 대한민국 해군에 복무중입니다! <a
          href="https://www.navy.mil.kr/mbshome/mbs/navy/index.do"
          target="_blank">지금 바로 해군 지원하기</a
        >
      </p>
    </footer>
  </body>
</html>
